version: '3.8'

services:
  api:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - PluginConfig__Protocol=http
      - PluginConfig__ConfigHost=localhost:5000
    volumes:
      - ../src/GrayjayPeerTube.Api/wwwroot:/app/wwwroot:ro
